<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HospitalSystemProgram.Properties.Settings.ConnectionString"
            connectionString="DATA SOURCE=localhost:1521/oracle.murat.com;PASSWORD=dal;USER ID=MURAT"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>